# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Coverage
.nyc_output

# Ignore yarn.lock to avoid breaking Travis
yarn.lock

# Webhint reports
hint-report
