/*************************************************************
 * NUXT DEFAULTS (pre-existing definitions from nuxt itself) *
 *************************************************************/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

/**
 * Stretch to window
 */
html,
body,
#__nuxt,
#__layout {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}

/*************************
 * COLOURS
 ************************/
$color_black: #000000;
$color_grey_60: #676565;
$color_grey_30: #959794;
$color_grey_10: #c5c5c5;
$color_white: #ffffff;
$color_mustard: #fccd04;
$color_salmon: #d79922;
$color_vase: #efe2ba;
$color_red: #f13c20;
$color_orchid: #a64ac9;
$color_blue: #4056a1;
$color_electro: #20f1f1;
$color_sky: #c5cbe3;

$text_main: $color_black;
$text_main_secondary: $color_grey_10;
$text_link: $color_blue;

$bg_main: $color_white;
$bg_input_field: $color_grey_10;
$bg_caret: $color_white;

$bg_header_outer: $color_mustard;
$bg_header_between: $color_vase;
$bg_header_inner: $color_salmon;
$bg_header: $color_electro;
//$bg_header: linear-gradient(to right, $bg_header_outer 10%, $bg_header_between 20%, $bg_header_inner 30%, $bg_header_between 40%, $bg_header_outer 40%);

.bg-main {
  background: $bg_main;
}

.text-dark {
  color: $text_main;
}

.text-main {
  color: $text_main;
}

// paint everything black (even when the user tries to scroll outside of the frame (safari)
html,
body,
#__nuxt,
#__layout {
  @extend .bg-main;
}

/**
 * SPACING
 */
$spacers: (
  0,
  5px,
  10px,
  15px,
  20px,
  30px,
  40px,
  60px,
  100px,
  150px,
  200px
) !default;

$space_0: nth($spacers, 1); // 0px
$space_1: nth($spacers, 2); // 5px
$space_2: nth($spacers, 3); // 10px
$space_3: nth($spacers, 4); // 15px
$space_4: nth($spacers, 5); // 20px
$space_5: nth($spacers, 6); // 30px
$space_6: nth($spacers, 7); // 40px
$space_7: nth($spacers, 8); // 60px
$space_8: nth($spacers, 9); // 100px
$space_9: nth($spacers, 10); // 150px
$space_10: nth($spacers, 11); // 200px

$navi_toolbar_desktop_width: 50px;
$navi_toolbar_device_height: $space_6;

$footer_height: $space_10;

/************************
 * MIXINS
************************/
//generates margin according to arguments
//Usage:  @mixin margin($space_0, top);
@mixin margin($space, $direction: null) {
  @if $direction == 'top' {
    margin-top: $space !important;
  } @else if $direction == 'right' {
    margin-right: $space !important;
  } @else if $direction == 'bottom' {
    margin-bottom: $space !important;
  } @else if $direction == 'left' {
    margin-left: $space !important;
  } @else if $direction == 'x' {
    margin-left: $space !important;
    margin-right: $space !important;
  } @else if $direction == 'y' {
    margin-top: $space !important;
    margin-bottom: $space !important;
  } @else if $direction == 'all' {
    margin: $space !important;
  }
}

// Margin and Padding
// examples: m-b-4 (margin-bottom: $space_4), p-x-2 ( padding: 0 $space_2)
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $length in $spacers {
    $size: index($spacers, $length) - 1;

    .#{$abbrev}-#{$size} {
      #{$prop}: $length !important;
    }
    .#{$abbrev}-t-#{$size} {
      #{$prop}-top: $length !important;
    }
    .#{$abbrev}-r-#{$size} {
      #{$prop}-right: $length !important;
    }
    .#{$abbrev}-b-#{$size} {
      #{$prop}-bottom: $length !important;
    }
    .#{$abbrev}-l-#{$size} {
      #{$prop}-left: $length !important;
    }

    .#{$abbrev}-x-#{$size} {
      #{$prop}-right: $length !important;
      #{$prop}-left: $length !important;
    }

    .#{$abbrev}-y-#{$size} {
      #{$prop}-top: $length !important;
      #{$prop}-bottom: $length !important;
    }
  }
}

/*************************
 *  TYPOGRAPHY
 ************************/
//$font_family_default: 'Fira Sans', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font_family_default: 'Comic Sans MS', 'Comic Sans', cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;

$navi_toolbar_initial_icons_size: 2.5rem;
$navi_toolbar_final_icons_size: 3rem;
$expertise_icons_size: 5rem;

// Use 62.5% trick for better rem calculations
// https://www.sitepoint.com/understanding-and-using-rem-units-in-css/
html,
body {
  font-size: 10px;
}

h1,
.h1 {
  font-size: 3rem;
}

h2,
.h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

h4,
.h4 {
  font-size: 1.9rem;
}

p,
span,
a,
li,
label,
input,
button {
  font-size: 1.6rem;
}

p,
textarea {
  margin-bottom: $space_5;
}

input,
textarea {
  background: $bg_input_field;
  border-radius: $space_1;
}

button {
  cursor: pointer;
  border-radius: $space_1;
  margin: $space_2;
  background: $text_link;
  border-color: $text_link;
}

a,
.link {
  color: $text_link;
  text-decoration: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
label {
  color: $text_main;
}

p {
  color: $text_main_secondary;
  line-height: 1.9rem;
}

input {
  height: $space_5;
}

textarea {
  height: $space_8;
  // Use native font stack to have user friendly input (native browser font family). <input> uses native font-family by default ;)
  // https://atomiks.github.io/30-seconds-of-css/?utm_source=frontendfocus&utm_medium=email#system-font-stack
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/**
 *  GRID
 */
// VIEWPORT: windows space when thing are changing
$screen_viewport_xs: 0;
$screen_viewport_sm: 576px;
$screen_viewport_md: 768px;
$screen_viewport_lg: 992px;
$screen_viewport_xl: 1200px;

// breakpoints (sass) : windows space when thing are changing
$breakpoint_screen_sm: min-width $screen_viewport_sm;
$breakpoint_screen_md: min-width $screen_viewport_md;
$breakpoint_screen_lg: min-width $screen_viewport_lg;
$breakpoint_screen_xl: min-width $screen_viewport_xl;

/*************************
 * ANIMATIONS
 ************************/
// BORDER ANIMATION (used on hover)
@mixin setBorderAnimation($bg_color: $color_black, $border_size: 2px, $timeOn: 1.5s, $timeOut: 0.5s) {
  $border: $border_size solid $bg_color;

  &::before,
  &::after {
    border-color: $bg_color;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    overflow: hidden;
    transition: all $timeOut ease-in-out;
  }

  &::before {
    border-left: $border;
    border-right: $border;
    width: 100%;
    height: 0;
    top: 50%;
    left: 0;
  }

  &::after {
    border-top: $border;
    border-bottom: $border;
    height: 100%;
    width: 0;
    left: 50%;
    top: 0;
  }

  &:hover,
  &.active {
    &::before,
    &::after {
      transition: all $timeOn ease-in-out;
    }

    &::before {
      top: 0;
      height: 100%;
    }

    &::after {
      left: 0;
      width: 100%;
    }
  }
}

// Width Animation (used in Burger Menu hover effect
$width_animation_duration: 0.5s;
@keyframes widthAnimation {
  from {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  to {
    transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1);
  }
}

$pulse_0: #fbfff9;
$pulse_1: #ffdec4;
$pulse_2: #f4c4d7;
$pulse_3: #ece4f7;
$pulse_4: #d8f6e7;

@keyframes pulse-color {
  0% {
    color: $pulse_0;
  }

  25% {
    color: $pulse_1;
  }

  50% {
    color: $pulse_2;
  }

  75% {
    color: $pulse_3;
  }

  100% {
    color: $pulse_4;
  }
}

@keyframes pulse-bg {
  0% {
    background: $pulse_0;
  }

  25% {
    background: $pulse_1;
  }

  50% {
    background: $pulse_2;
  }

  75% {
    background: $pulse_3;
  }

  100% {
    background: $pulse_4;
  }
}

@mixin underline($color: $color_white) {
  position: relative;

  &:before {
    // box-shadow: 0 0 8px 2px $color_white;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: $color;
    visibility: hidden;
    //    border-radius: $space_1;
    transform: scaleX(0);
    transition: .25s linear;
  }

  &:hover {
    &:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

// Spin animation (rotates element) (used in a letter of header's title)
// Applying spin-wrapper to el and hovering on this will initiate the animation for the spinned child el
.spin-wrapper {
  .spinned {
    transition: all 1s ease-in-out;
    display: inline-block;
  }
  &:hover {
    .spinned {
      transform: rotate(5turn);
    }
  }
}

// bounce animation
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY($space_2);
  }
}

.bounce {
  animation-name: bounce;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

// zoom: increase font-size on hover
@mixin zoom($initial_font_size, $final_font_size) {
  font-size: $initial_font_size;
  transition: all 0.3s ease-in-out;

  &:hover {
    font-size: $final_font_size;
  }
}

// blast
.blast {
  animation: animation 1000ms linear forwards;
}

// make all h1 share the blast animation for consistency and fancines
/*h1:hover,
.h1:hover {
  @extend .blast;
}*/

/* Generated with Bounce.js. Edit at https://goo.gl/Vn2Euz */
@keyframes animation {
  0% {
    transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.4% {
    transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.81% {
    transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.21% {
    transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  13.61% {
    transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.52% {
    transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.32% {
    transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.03% {
    transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.74% {
    transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.44% {
    transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  59.86% {
    transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.28% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.69% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

/************************
 * Z-INDEX
 ************************/
// HeaderBar.vue
.z-1 {
  position: relative;
  z-index: 100;
}

// DotSideNavi.vue
.z-2 {
  position: relative;
  z-index: 75;
}

// .section, .error
.z-3 {
  position: relative;
  z-index: 50;
}

/* currently not in use
.z-4 {
  z-index: 25;
}

.z-10 {
  z-index: 0;
}
*/

/************************
 * HELPERS
 ************************/
.section {
  margin-bottom: 0;
  padding: $space_7 0;
  border-bottom: dashed $color_grey_10;
  @extend .z-3; // place content on top of particles
}

@include breakpoint($breakpoint_screen_md) {
  .section {
    min-height: 100vh;
    overflow: auto;
    margin-bottom: $space_7;

    &:last-of-type {
      margin-bottom: $space_6;
    }
  }
}

.text-center {
  text-align: center;
}

.underline-dark {
  @include underline($color_grey_10);
}

// Used in any other page than index, to handle border styles and other
.section-secondary {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: stretch; // stretch div to fit parent height
  margin-bottom: $space_6;
  padding: $space_7 0;
  border-bottom: dashed $color_grey_10;
}

// Links must have discernible text fix
.dis-txt {
  white-space: nowrap;
  overflow: hidden;
  text-indent: -9999px;

  &:before {
    float: left;
    text-indent: 0;
  }
}
